:root {
    --blue: #0d40c6;
    --secondary-blue: #1652f0;
    --text-color: #3e78b2;
    --light-blue: #eef2fe; 
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
}


.main-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "nav header"
                        "nav section";
}

/* ########## ASIDE ########## */
aside {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: var(--blue);
    padding: 70px 10px 0;
}
aside a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 5px;
}
aside a:nth-child(2) {
    background-color: var(--secondary-blue);
}

/* ########## HEADER ########## */
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    border-bottom: 2px solid #eee;
    padding: 0px 40px;
}
header .logo i {
    color: white;
    background-color: var(--secondary-blue);
    padding: 8px;
    border-radius: 5px;
}
header .logo span {
    color: var(--secondary-blue);
    font-weight: bold;
    font-size: 20px;
}
header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
header nav .devise {
    display: flex;
}
header nav .devise span {
    width: 100px;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    padding: 10px;
    border: 1px solid #eee;
}
header nav .devise span:first-child {
    background-color: var(--light-blue);
    color: var(--secondary-blue);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
header nav .devise span:last-child {
    color: #777;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
header nav .profile {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #777;
}
header nav .profile i:first-child {
    font-size: 12px;
    background-color: var(--secondary-blue);
    color: white;
    padding: 8px;
    border-radius: 50%;
}


/* ########## SECTION ########## */
section {
    grid-area: section;
}
section .heading {
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 700;
    color: var(--secondary-blue);
}
section .heading span {
    color: #777;
    font-weight: 500;
}

/* ########## ARTICLE 1 ########## */
section .articles {
    display: grid;
    grid-template-columns: 40% 1fr;
    padding: 0px 20px;
    font-size: 12px;
}
section .articles article{
    padding: 30px 20px;
}
section .articles .buttons {
    display: flex;
    justify-content: space-around;
}
section .articles button{
    cursor: pointer;
}
section .articles .buttons button {
    width: 45%;
    font-size: 14px;
    background-color: white;
    color: var(--secondary-blue);
    padding: 8px 0;
    border: 1px solid rgb(227, 227, 227);
    border-radius: 5px;
}
section .articles .buttons button:first-child {
    background-color: var(--blue);
    color: white;
}
section .articles form {
    padding-top: 30px;
    color: var(--text-color);
    caret-color: #0d40c6;
    font-weight: 600;
}
section .articles form label {
    display: block;
    margin-bottom: -5px;
}
section .articles form select ,
section .articles form input {
    width: 49%;
    height: 35px;
    font-weight: 600;
    background-color: var(--light-blue);
    padding-left: 15px;
    margin-bottom: 20px;
    border: none;
}
section .articles form select {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
section .articles form select:focus {
    outline: none;
}
section .articles form input {
    color: var(--text-color);
    margin-left: -5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
section .articles form input::placeholder {
    color: #6c92b6;
}
section .articles form input:focus {
    outline: none;
}
section .articles .infos {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    padding-right: 8px;
}
section .articles .infos span:first-child {
    color: var(--text-color);
    font-weight: 600;
}
section .articles .infos + button {
    width: 100%;
    background-color: #10d876;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 10px 0;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
}
section .articles p {
    color: var(--text-color);
    line-height: 1.5;
    margin-top: 50px;
}


/* ########## ARTICLE 2 ########## */
section .articles .peoples {
    display: flex;
    justify-content: space-between;
}
section .articles .peoples > div {
    display: flex;
    align-items: center;
    gap: 10px;
}
section .articles .peoples > div:last-child {
    flex-direction: row-reverse;
}
section .articles .peoples > div:last-child .infos {
    align-items: flex-end;
}
section .articles .peoples > div img {
    width: 35px;
    border-radius: 50%;
}
section .articles .peoples > div .infos {
    display: flex;
    flex-direction: column;
    padding: 0;
}
section .articles .peoples > div .infos span {
    color: black;
    font-weight: 600;
    padding-bottom: 5px;
}
section .articles .peoples > div .infos a {
    text-decoration: none;
    color: var(--secondary-blue);
}
section .articles .content {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
    margin-top: 20px;
}
section .articles .content div {
    display: flex;
    background-color: var(--light-blue);
    margin: 20px 0;
    padding: 15px 10px;
    border-radius: 5px;
}
section .articles .content div:first-child {
    color: var(--secondary-blue);
}
section .articles .content div:nth-child(6) span:last-child {
    color: #e01e37;
}
section .articles .content div span {
    width: 50%;
    padding-left: 10px;
}
section .articles .content div span:last-child {
    font-weight: 700;
    font-size: 12px;
}
